<footer class="footer">
    <div class="container-sm">
        <hr>

        <nav class="nav justify-content-around">
            <div class="row">

                <ul class="footer__navlist">
                    <div class="col-xs-12 col-md-2 d-md-inline ">
                        <li class="nav-item d-md-inline "><a href="index.html"><img src="./assets/images/logoclub.png"
                                    class="footer__clublogo" alt="Logo del club"></a>
                        </li>
                    </div>
                    <div class="col-xs-12 col-md-2 d-md-inline">
                        <li class="d-md-inline">
                            <div class="d-md-inline"><a href="index.html" class="footer__link">Inicio</a></div>
                        </li>
                    </div>

                    <div class="col-xs-12 col-md-2 d-md-inline">
                        <li class="d-md-inline"><a href="miembros.html" class="footer__link">Miembros</a></li>
                    </div>

                    <div class="col-xs-12 col-md-2 d-md-inline">
                        <li class="nav-item d-md-inline"><a href="historia.html" class="footer__link">El
                                Club</a></li>
                    </div>

                    <div class="col-xs-12 col-md-2 d-md-inline">
                        <li class="nav-item d-md-inline"><a href="formulario.html" class="footer__link">Únete</a></li>
                    </div>

                    <div class="col-xs-4 col-md-2 d-md-inline">
                        <li class="nav-item d-inline"> <a href="" target="_blank"><i
                                    class="fa-brands fa-google-plus-g"></i></a></li>

                        <li class="nav-item d-inline"> <a href="" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                        </li>

                        <li class="nav-item d-inline"> <a href="" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </div>

    <div class="footer--corporate">
        <img class="footer__UOClogo" src="./assets/images/logo-lletras-blanques.png"
            alt="Logo Universitat Oberta de Catalunya">
        <p class="footer__autor"> <strong>Oriol Fonollà Llobet</strong>. Herramientas HTML y CSS II
        </p>
    </div>

</footer>