@use "sass:color";

$font-family: Helvetica, Arial, sans-serif;


$alturaLogo: 75px;
$alturaMargen: 125px;
$alturaMargenPoster: 102px;

$uoc-corporate: #000078;

$theme-colors: (
    "primary": rgb(197, 48, 48)
);